<?xml version="1.0" encoding="UTF-8"?>
<Context antiResourceLocking="false" privileged="true">
    <!-- Configurazione DataSource per MySQL in Docker -->
    <Resource name="jdbc/smartagenda" 
              auth="Container" 
              type="javax.sql.DataSource"
              maxTotal="100" 
              maxIdle="30" 
              maxWaitMillis="10000"
              username="alessandro" 
              password="studenteEcampus2025" 
              driverClassName="com.mysql.cj.jdbc.Driver"
              url="jdbc:mysql://mysql:3306/SMARTAGENDA?useSSL=false&amp;serverTimezone=Europe/Rome&amp;characterEncoding=utf8&amp;useUnicode=true"
              validationQuery="SELECT 1"
              testOnBorrow="true"
              testOnReturn="false"
              testWhileIdle="true"
              timeBetweenEvictionRunsMillis="30000"
              minEvictableIdleTimeMillis="60000"
              removeAbandoned="true"
              removeAbandonedTimeout="60"
              logAbandoned="true" />
</Context> 